<html>
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title><link rel="stylesheet" href="css/fullScreenKline.css" type="text/css"></head>
  <body>
    <div id="chart_container" class="dark" style="width:1333px;height:960px;visibility:visible">
      <!-- <template> -->
        <div id="chart_toolbar">
          <div class="chart_toolbar_minisep"></div>
          <div id="chart_dropdown_symbols">
            <div class="chart_dropdown_t"></div>
          </div>
          <div class="chart_dropdown" id="chart_toolbar_periods_vert">
            <!-- <div class="chart_dropdown_t">
              <a class="chart_str_period" v-text="$t('kline.per')"></a>
            </div> -->
            <div class="chart_dropdown_data">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <ul>
                        <li id="chart_period_line_v" name="line">
                          <a class="chart_str_period_line" v-text="$t('kline.pers[0]')"></a>
                        </li>
                        <li id="chart_period_1m_v" name="1m">
                          <a class="chart_str_period_1m" v-text="'1' + $t('kline.pers[1]')"></a>
                        </li>
                        <li id="chart_period_5m_v" name="5m">
                          <a class="chart_str_period_5m" v-text="'5' + $t('kline.pers[1]')"></a>
                        </li>
                        <li id="chart_period_15m_v" name="15m">
                          <a class="chart_str_period_15m" v-text="'15' + $t('kline.pers[1]')"></a>
                        </li>
                        <li id="chart_period_30m_v" name="30m">
                          <a class="chart_str_period_30m" v-text="'30' + $t('kline.pers[1]')"></a>
                        </li>
                        <li id="chart_period_1h_v" name="1h">
                          <a class="chart_str_period_1h" v-text="'1' + $t('kline.pers[2]')"></a>
                        </li>
                        <li id="chart_period_4h_v" name="4h">
                          <a class="chart_str_period_4h" v-text="'4' + $t('kline.pers[2]')"></a>
                        </li>
                        <li id="chart_period_1d_v" name="1d">
                          <a class="chart_str_period_1d" v-text="'1' + $t('kline.pers[3]')"></a>
                        </li>
                        <li id="chart_period_1w_v" name="1w">
                          <a class="chart_str_period_1w" v-text="'1' + $t('kline.pers[4]')"></a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="chart_toolbar_periods_horz">
            <ul class="chart_toolbar_tabgroup" style="padding-left:5px;padding-right:11px">
              <li id="chart_period_line_h" name="line" style="display:inline-block">
                <a class="chart_str_period_line" v-text="$t('kline.pers[0]')"></a>
              </li>
              <li id="chart_period_1m_h" name="1m" style="display:inline-block">
                <a class="chart_str_period_1m" v-text="'1' + $t('kline.pers[1]')"></a>
              </li>
              <li id="chart_period_5m_h" name="5m" style="display:inline-block">
                <a class="chart_str_period_5m" v-text="'5' + $t('kline.pers[1]')"></a>
              </li>
              <li id="chart_period_15m_h" name="15m" style="display:inline-block">
                <a class="chart_str_period_15m" v-text="'15' + $t('kline.pers[1]')"></a>
              </li>
              <li id="chart_period_30m_h" name="30m" style="display:inline-block">
                <a class="chart_str_period_30m" v-text="'30' + $t('kline.pers[1]')"></a>
              </li>
              <li id="chart_period_1h_h" name="1h" style="display:inline-block">
                <a class="chart_str_period_1h" v-text="'1' + $t('kline.pers[2]')"></a>
              </li>
              <li id="chart_period_4h_h" name="4h" style="display:inline-block">
                <a class="chart_str_period_4h" v-text="'4' + $t('kline.pers[2]')"></a>
              </li>
              <li id="chart_period_1d_h" name="1d" style="display:inline-block">
                <a class="chart_str_period_1d" v-text="'1' + $t('kline.pers[3]')"></a>
              </li>
              <li id="chart_period_1w_h" name="1w" style="display:inline-block">
                <a class="chart_str_period_1w" v-text="'1' + $t('kline.pers[4]')"></a>
              </li>
            </ul>
          </div>
          <div id="chart_show_indicator" class="chart_toolbar_button chart_str_indicator_cap" v-text="$t('kline.indicators')"></div>
          <div id="chart_show_tools" class="chart_toolbar_button chart_str_tools_cap" v-text="$t('kline.tools')"></div>
          <div id="chart_toolbar_theme">
            <div class="chart_toolbar_label chart_str_theme_cap" v-text="$t('kline.theme')"></div>
            <a name="dark" class="chart_icon chart_icon_theme_dark selected"></a>
            <a name="light" class="chart_icon chart_icon_theme_light"></a>
          </div>
          <div class="chart_dropdown" id="chart_dropdown_settings">
            <div class="chart_dropdown_t">
              <a class="chart_str_settings" v-text="$t('kline.more')"></a>
            </div>
            <div class="chart_dropdown_data" style="margin-left:-131px">
              <table>
                <tbody>
                  <tr id="chart_select_main_indicator">
                    <td class="chart_str_main_indicator">{{ $t('kline.mainindicators') }}</td>
                    <td>
                      <ul>
                        <li>
                          <a name="MA" class="selected">MA</a>
                        </li>
                        <li>
                          <a name="EMA">EMA</a>
                        </li>
                        <li>
                          <a name="BOLL">BOLL</a>
                        </li>
                        <li>
                          <a name="SAR">SAR</a>
                        </li>
                        <li>
                          <a class="chart_str_none" name="NONE">{{ $t('kline.none') }}</a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr id="chart_select_chart_style">
                    <td class="chart_str_chart_style">{{ $t('kline.chartStyle') }}</td>
                    <td>
                      <ul>
                        <li>
                          <a>CandleStick</a>
                        </li>
                        <li>
                          <a class="selected">CandleStickHLC</a>
                        </li>
                        <li>
                          <a>OHLC</a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr id="chart_select_theme" style="display:none">
                    <td class="chart_str_theme">{{ $t('kline.theme') }}</td>
                    <td>
                      <ul>
                        <li>
                          <a name="dark" class="chart_icon chart_icon_theme_dark selected"></a>
                        </li>
                        <li>
                          <a name="light" class="chart_icon chart_icon_theme_light"></a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr id="chart_enable_tools" style="display:none">
                    <td class="chart_str_tools">{{ $t('kline.tools') }}</td>
                    <td>
                      <ul>
                        <li>
                          <a name="on" class="chart_str_on">{{ $t('kline.open') }}</a>
                        </li>
                        <li>
                          <a name="off" class="chart_str_off selected">{{ $t('kline.close') }}</a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr id="chart_enable_indicator" style="display:none">
                    <td class="chart_str_indicator">{{ $t('kline.indicatorsParams') }}</td>
                    <td>
                      <ul>
                        <li>
                          <a name="on" class="chart_str_on">{{ $t('kline.open') }}</a>
                        </li>
                        <li>
                          <a name="off" class="chart_str_off selected">{{ $t('kline.close') }}</a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <ul>
                        <li>
                          <a id="chart_btn_parameter_settings" class="chart_str_indicator_parameters">{{ $t('kline.indicatorsParams') }}</a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="chart_toolpanel" style="display:none">
          <div class="chart_toolpanel_separator"></div>
          <div class="chart_toolpanel_button">
            <div class="chart_toolpanel_icon" id="chart_Cursor" name="Cursor"></div>
            <div class="chart_toolpanel_tip chart_str_cursor">{{ $t('kline.toolsList[0]') }}</div>
          </div>
          <div class="chart_toolpanel_button selected">
            <div class="chart_toolpanel_icon" id="chart_CrossCursor" name="CrossCursor"></div>
            <div class="chart_toolpanel_tip chart_str_cross_cursor">{{ $t('kline.toolsList[1]') }}</div>
          </div>
          <div class="chart_toolpanel_button">
            <div class="chart_toolpanel_icon" id="chart_SegLine" name="SegLine"></div>
            <div class="chart_toolpanel_tip chart_str_seg_line">{{ $t('kline.toolsList[2]') }}</div>
          </div>
          <div class="chart_toolpanel_button">
            <div class="chart_toolpanel_icon" id="chart_StraightLine" name="StraightLine"></div>
            <div class="chart_toolpanel_tip chart_str_straight_line">{{ $t('kline.toolsList[3]') }}</div>
          </div>
          <div class="chart_toolpanel_button">
            <div class="chart_toolpanel_icon" id="chart_RayLine" name="RayLine"></div>
            <div class="chart_toolpanel_tip chart_str_ray_line">{{ $t('kline.toolsList[4]') }}</div>
          </div>
          <div class="chart_toolpanel_button">
            <div class="chart_toolpanel_icon" id="chart_ArrowLine" name="ArrowLine"></div>
            <div class="chart_toolpanel_tip chart_str_arrow_line">{{ $t('kline.toolsList[5]') }}</div>
          </div>
          <div class="chart_toolpanel_button">
            <div class="chart_toolpanel_icon" id="chart_HoriSegLine" name="HoriSegLine"></div>
            <div class="chart_toolpanel_tip chart_str_horz_seg_line">{{ $t('kline.toolsList[6]') }}</div>
          </div>
          <div class="chart_toolpanel_button">
            <div class="chart_toolpanel_icon" id="chart_HoriStraightLine" name="HoriStraightLine"></div>
            <div class="chart_toolpanel_tip chart_str_horz_straight_line">{{ $t('kline.toolsList[7]') }}</div>
          </div>
          <div class="chart_toolpanel_button">
            <div class="chart_toolpanel_icon" id="chart_HoriRayLine" name="HoriRayLine"></div>
            <div class="chart_toolpanel_tip chart_str_horz_ray_line">{{ $t('kline.toolsList[8]') }}</div>
          </div>
          <div class="chart_toolpanel_button">
            <div class="chart_toolpanel_icon" id="chart_VertiStraightLine" name="VertiStraightLine"></div>
            <div class="chart_toolpanel_tip chart_str_vert_straight_line">{{ $t('kline.toolsList[9]') }}</div>
          </div>
          <div class="chart_toolpanel_button">
            <div class="chart_toolpanel_icon" id="chart_PriceLine" name="PriceLine"></div>
            <div class="chart_toolpanel_tip chart_str_price_line">{{ $t('kline.toolsList[10]') }}</div>
          </div>
          <div class="chart_toolpanel_button">
            <div class="chart_toolpanel_icon" id="chart_TriParallelLine" name="TriParallelLine"></div>
            <div class="chart_toolpanel_tip chart_str_tri_parallel_line">{{ $t('kline.toolsList[11]') }}</div>
          </div>
          <div class="chart_toolpanel_button">
            <div class="chart_toolpanel_icon" id="chart_BiParallelLine" name="BiParallelLine"></div>
            <div class="chart_toolpanel_tip chart_str_bi_parallel_line">{{ $t('kline.toolsList[12]') }}</div>
          </div>
          <div class="chart_toolpanel_button">
            <div class="chart_toolpanel_icon" id="chart_BiParallelRayLine" name="BiParallelRayLine"></div>
            <div class="chart_toolpanel_tip chart_str_bi_parallel_ray">{{ $t('kline.toolsList[13]') }}</div>
          </div>
          <div class="chart_toolpanel_button">
            <div class="chart_toolpanel_icon" id="chart_DrawFibRetrace" name="DrawFibRetrace"></div>
            <div class="chart_toolpanel_tip chart_str_fib_retrace">{{ $t('kline.toolsList[14]') }}</div>
          </div>
          <div class="chart_toolpanel_button">
            <div class="chart_toolpanel_icon" id="chart_DrawFibFans" name="DrawFibFans"></div>
            <div class="chart_toolpanel_tip chart_str_fib_fans">{{ $t('kline.toolsList[15]') }}</div>
          </div>
        </div>
        <div id="chart_canvasGroup" style="left:0;top:30px;width:1333px;height:930px">
          <canvas class="chart_canvas" id="chart_mainCanvas" width="1333" height="930" style="cursor:default"></canvas>
          <canvas class="chart_canvas" id="chart_overlayCanvas" width="1333" height="930" style="cursor:default"></canvas>
        </div>
        <div id="chart_tabbar" style="display:none">
          <ul>
            <li>
              <a name="MACD">MACD</a>
            </li>
            <li>
              <a name="KDJ">KDJ</a>
            </li>
            <li>
              <a name="StochRSI">StochRSI</a>
            </li>
            <li>
              <a name="RSI">RSI</a>
            </li>
            <li>
              <a name="DMI">DMI</a>
            </li>
            <li>
              <a name="OBV">OBV</a>
            </li>
            <li>
              <a name="BOLL">BOLL</a>
            </li>
            <li>
              <a name="SAR">SAR</a>
            </li>
            <li>
              <a name="DMA">DMA</a>
            </li>
            <li>
              <a name="TRIX">TRIX</a>
            </li>
            <li>
              <a name="BRAR">BRAR</a>
            </li>
            <li>
              <a name="VR">VR</a>
            </li>
            <li>
              <a name="EMV">EMV</a>
            </li>
            <li>
              <a name="WR">WR</a>
            </li>
            <li>
              <a name="ROC">ROC</a>
            </li>
            <li>
              <a name="MTM">MTM</a>
            </li>
            <li>
              <a name="PSY">PSY</a>
            </li>
          </ul>
        </div>
        <div id="chart_parameter_settings" style="left:346px;top:268px">
          <h2 class="chart_str_indicator_parameters">{{ $t('kline.indicatorsParams') }}</h2>
          <table>
            <tbody>
              <tr>
                <th style="color:#fff;">MA</th>
                <td><input name="MA">
                  <input name="MA">
                  <input name="MA">
                  <input name="MA"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
                <th style="color:#fff;">DMA</th>
                <td><input name="DMA">
                  <input name="DMA">
                  <input name="DMA"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
              </tr>
              <tr>
                <th style="color:#fff;">EMA</th>
                <td><input name="EMA">
                  <input name="EMA">
                  <input name="EMA">
                  <input name="EMA"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
                <th style="color:#fff;">TRIX</th>
                <td><input name="TRIX">
                  <input name="TRIX"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
              </tr>
              <tr>
                <th style="color:#fff;">VOLUME</th>
                <td><input name="VOLUME">
                  <input name="VOLUME"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
                <th style="color:#fff;">BRAR</th>
                <td><input name="BRAR"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
              </tr>
              <tr>
                <th style="color:#fff;">MACD</th>
                <td><input name="MACD">
                  <input name="MACD">
                  <input name="MACD"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
                <th style="color:#fff;">VR</th>
                <td><input name="VR">
                  <input name="VR"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
              </tr>
              <tr>
                <th style="color:#fff;">KDJ</th>
                <td><input name="KDJ">
                  <input name="KDJ">
                  <input name="KDJ"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
                <th style="color:#fff;">EMV</th>
                <td><input name="EMV">
                  <input name="EMV"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
              </tr>
              <tr>
                <th style="color:#fff;">StochRSI</th>
                <td><input name="StochRSI">
                  <input name="StochRSI">
                  <input name="StochRSI">
                  <input name="StochRSI"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
                <th style="color:#fff;">WR</th>
                <td><input name="WR">
                  <input name="WR"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
              </tr>
              <tr>
                <th style="color:#fff;">RSI</th>
                <td><input name="RSI">
                  <input name="RSI">
                  <input name="RSI"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
                <th style="color:#fff;">ROC</th>
                <td><input name="ROC">
                  <input name="ROC"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
              </tr>
              <tr>
                <th style="color:#fff;">DMI</th>
                <td><input name="DMI">
                  <input name="DMI"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
                <th style="color:#fff;">MTM</th>
                <td><input name="MTM">
                  <input name="MTM"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
              </tr>
              <tr>
                <th style="color:#fff;">OBV</th>
                <td><input name="OBV"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
                <th style="color:#fff;">PSY</th>
                <td><input name="PSY">
                  <input name="PSY"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
              </tr>
              <tr>
                <th style="color:#fff;">BOLL</th>
                <td><input name="BOLL"></td>
                <td>
                  <button class="chart_str_default">{{ $t('kline.default') }}</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div id="close_settings">
            <a class="chart_str_close">{{ $t('kline.close') }}</a>
          </div>
        </div>
        <div id="chart_loading" class="chart_str_loading" style="left:566px;top:228px">{{ $t('kline.loading') }}</div>
      <!-- </template> -->
    </div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/socket.io.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/vue.i18n.js"></script>
    <script type="text/javascript">
      var klineMsg = {
        'en-us': {
          kline: {
            loading: 'Loading ...',
            open: 'Open',
            close: 'Close',
            per: 'TIME',
            pers: ['Line', 'm', 'h', 'd', 'w'],
            indicators: 'INDICATORS',
            tools: 'TOOLS',
            theme: 'THEME',
            more: 'MORE',
            mainindicators: 'Main Indicators',
            indicatorsParams: 'Indicators Parameters',
            none: 'None',
            chartStyle: 'Chart Style',
            default: 'Default',
            toolsList: [
              'Cursor',
              'Cross Cursor',
              'Trend Line',
              'Extended',
              'Ray',
              'Arrow',
              'Horizontal Line',
              'Horizontal Extended',
              'Horizontal Ray',
              'Vertical Extended',
              'Price Line',
              'Parallel Channel',
              'Parallel Lines',
              'Parallel Rays',
              'Fibonacci Retracements',
              'Fibonacci Fans'
            ]
          }
        },
        'zh-cn': {
          kline: {
            loading: '正在读取数据...',
            open: '开启',
            close: '关闭',
            per: '周期',
            pers: ['分时', '分钟', '小时', '日线', '周线'],
            indicators: '技术指标',
            tools: '画线工具',
            theme: '主题选择',
            more: '更多',
            mainindicators: '主指标',
            indicatorsParams: '指标参数设置',
            none: '关闭',
            chartStyle: '主图样式',
            default: '默认值',
            toolsList: [
              '光标',
              '十字光标',
              '线段',
              '直线',
              '射线',
              '箭头',
              '水平线段',
              '水平直线',
              '水平射线',
              '垂直直线',
              '价格线',
              '价格通道线',
              '平行直线',
              '平行射线',
              '斐波纳契回调',
              '斐波纳契扇形'
            ]
          }
        }
      }
      var klineI18n = new VueI18n({
        locale: localStorage.lang || 'zh-cn',
        messages: klineMsg
      });
      var apps = new Vue({
        el: '#chart_container',
        i18n: klineI18n
      });
    </script>
    <script type="text/javascript" src="js/fullKilne.js"></script>
  </body>
</html>
